body {
  margin: 0;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #f9f9f9;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 8px;
  width: fit-content;
  padding: 1px 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* helper classes */
.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-left: 100px;
  border-radius: 20px;
  box-sizing: border-box;
}

/* App */

.App {
  width: 1400px;
  height: 940px;
  display: flex;
  justify-content: center;
  background-image: url("../assets/bg/bg7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  border-radius: 40px;
}

/* Logo  */

.Logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.Logo img {
  width: 40px;
  height: 40px;
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.Logo p {
  margin: 0;
  padding: 2px 4px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.8);
}

.Logo p span.j {
  color: #77d8d8;
}

.Logo p span.m {
  color: #f2a365;
}

/* Nav */
nav {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

nav .link-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90px;
  height: 60px;
  padding: 8px;
  background-color: #000;
  margin: 2px 0;
  border-radius: 0 30px 30px 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

nav .link-wrapper:hover {
  transform: translateX(10px);
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  color: purple;
}

nav .link-wrapper:has(a.active) {
  transform: translateX(24px);
}
