body {
  margin: 0;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #f9f9f9;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 8px;
  width: fit-content;
  padding: 1px 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* helper classes */
.grid-center {
  align-self: center;
  justify-self: center;
}

.App {
  width: 1400px;
  height: 900px;
  display: flex;
  justify-content: center;
  background-image: url("./assets/bg/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  border-radius: 10px;
}

/* Logo  */

.Logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.Logo img {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.Logo p {
  margin: 0;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
}

.Logo p span.j {
  color: #77d8d8;
}

.Logo p span.m {
  color: #f2a365;
}

/* Nav */
nav {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

nav .link-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90px;
  height: 60px;
  padding: 8px;
  background-color: #000;
  margin: 2px 0;
  border-radius: 0 30px 30px 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

nav .link-wrapper:hover {
  transform: translateX(10px);
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  color: purple;
}

nav .link-wrapper:has(a.active) {
  transform: translateX(24px);
}

/* Home Page */
.container {
  width: 1200px;
  height: 900px;
  display: grid;
  grid-template-areas:
    "User User GetCoins"
    "Tasks Tasks GetCoins"
    "Tasks Tasks RandomQuests"
    "Tasks Tasks RandomQuests"
    "Tasks Tasks DailyQuests"
    "Purchased Purchased DailyQuests";
  gap: 20px;
  padding: 15px;
  border-radius: 20px;
  box-sizing: border-box;
}

/* User */

.User {
  grid-area: User;
  display: flex;
  border: 2px solid #000;
  border: none;
}

.User .userInfo {
  display: grid;
  grid-template-areas:
    "displayName level"
    "exp exp";
  align-items: center;
  justify-items: center;
  padding: 10px;
  color: #fff;
  text-shadow: 1px 0 1px #000;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
}

.User .userInfo .displayName {
  grid-area: displayName;
}

.User .userInfo .level {
  grid-area: level;
}

.User .userInfo progress {
  grid-area: exp;
}

.User .userRanking {
  padding: 10px;
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
}

.User .userRanking img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.User .userRanking p {
  margin: 0;
  color: darkorange;
  text-shadow: 1px 0 1px #000;
  font-weight: bold;
  font-size: 18px;
}

/* Tasks */

.Tasks {
  box-sizing: border-box;
  grid-area: Tasks;
  border: 2px solid #000;
  width: 90%;
  height: 100%;
  border: none;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 4px 4px 3px 1px purple;
}

.Tasks ul {
  list-style-type: none;
  padding: 0;
  height: 330px;
  overflow-y: scroll;
}

.Tasks ul::-webkit-scrollbar {
  background-color: #000;
  width: 8px;
  border-radius: 8px;
}

.Tasks ul::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 8px;
}

.Tasks ul::-webkit-scrollbar-button {
  display: none;
}

.Tasks ul li {
  min-width: 80%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 21px;
  color: #222;
}

.Tasks ul li p {
  border-radius: 10px;
  width: 65%;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
}

.Tasks ul li .btns {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Tasks ul li .btns button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.Tasks ul li .btns button:nth-child(1) {
  border: 2px solid darkgreen;
  color: darkgreen;
}

.Tasks ul li .btns button:nth-child(2) {
  border: 2px solid darkred;
  color: darkred;
}

/* RandomQuests */

.RandomQuests {
  grid-area: RandomQuests;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 4px 4px 3px 1px darkorange;
}

.RandomQuests ul li {
  min-width: 80%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 21px;
  color: #222;
}

.RandomQuests ul li p {
  border-radius: 10px;
  width: 65%;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
}

.RandomQuests ul li button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: darkgreen;
  border: 2px solid darkgreen;
}

/* Purchased */

.Purchased {
  grid-area: Purchased;
  box-sizing: border-box;
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  position: relative;
  box-shadow: 4px 4px 3px 1px darksalmon;
}

.Purchased .counter {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 21px;
  font-weight: bold;
  color: #eee;
  letter-spacing: 1.1px;
}

.Purchased ul {
  list-style-type: none;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
  padding: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-items: center;
  text-align: center;
}

.Purchased ul li img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  margin: 0 auto;
}

.Purchased ul li p {
  color: #eee;
  font-size: 18px;
}

/* GetCoins */

.GetCoins {
  grid-area: GetCoins;
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

/* DailyQuests */

.DailyQuests {
  grid-area: DailyQuests;
  box-sizing: border-box;
  border: 2px solid #000;
  width: 90%;
  height: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 4px 4px 3px 1px darkcyan;
}

.DailyQuests ul li {
  min-width: 80%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 21px;
  color: #222;
}

.DailyQuests ul li p {
  border-radius: 10px;
  width: 65%;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
}

.DailyQuests ul li button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: darkgreen;
  border: 2px solid darkgreen;
}
